@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat','sans-sarif';
}
:root{
    --primary-color: #fff;
    --primary-shade: #f7f5f2;
    --secondary-color: #000;
    --secondary-shade: #4b4c4c;
    --red-color: #d40700;
    --red-shade: #b20600;
    --accent-color:#ffee63;
}
ul li{
    list-style: none;
}

a{
    text-decoration: none;
}
/* -----------header section--------- */
header{
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgb(2, 0, 36, 1) 0%, rgba(50, 50, 51,1)
    35%,rgba(0, 212, 255, 1)100%);
    background: linear-gradient(to right, #040404, #242424 ,#656565);
    color: var(--primary-color);
}

.nav-bar{
    padding: 30px 0;
}
.logo{
    color: #b20600;
    font-size: 30px;
    font-weight: bold;
}
.logo span{
    color: blue;
}
ul li a{
    color: #d0f404;
    padding: 25px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    position: relative ;

}
ul li a::before{
    content: '';
    width: 0;
    position: relative;
    bottom: -5px;
    left: 0;
    height: 2px;
    background-color: var(--primary-color);
}
ul li a:hover::before{
    width: 100%;
}
ul li a:hover::after{
    width: 100%;
}

/* -----------------Button-------------- */
.btn{
    width: 100px;
    height: 40px;
    border-radius: 16px;
    background-color:red;
    color: #fff;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.5px;
    font-weight: 500;
}
.btn:hover{
    background-color:blue;
    color:var(--primary-shade);
    border: 5px solid rgb(222, 214, 214);
}

.content{
    height: 90vh;
}
.btn{
    width: 120px;
}
.flex2{
    flex: 2;
}
.flex3{
    flex: 3;
}
.right img{
    height: 400px;
    width: 175%;
}
h4{
    font-size: 30px;
}
h4 {
    color: rgb(255, 255, 255);
}
p{
    padding: 10px;
    text-transform: capitalize;
    letter-spacing: 1px;
}
p span{
    color: #d40700;
}
.btn2{
    width: 120px;
    height: 40px;
    border-radius: 16px;
    background-color:rgb(230, 195, 195);
    color: #ffffff;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.px;
    font-weight: 500;
    font-style: italic;
    font-weight: bold;
}
.btn2:hover{
    background-color:red;
    color:var(--primary-shade);
    border: 5px solid rgb(222, 214, 214);
}
